<%= form_with(model: project_role, remote: true) do |form| %>
  <%= render 'layouts/error_messages', object: form.object %>
  <div class="row">
  <div class="col-sm-12">
    <div class="actions float-right">
      <%= form.submit 'Submit', class: 'btn btn-link btn-sm' %>
    </div>
  </div>
</div>

  <div class="field">
    <%= form.hidden_field :project_id%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_role_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_role_description %>
  </div>
<% end %>
