<div class="container-fluid">
<h5>Users</h5>
<%= form_with(model: @project_role, remote: true) do |form| %>
  <div class="input-group mb-3" style="margin-top: 20px;">
  <%= form.hidden_field :add_user, id: "project_role_add_user"%>
  <%= form.text_field :available_users, id: 'project_role_available_users', data: { autocomplete_source: @available_users}%>
    <div class="input-group-append">
      <%= form.button  class: "btn btn-success" do %>
        <i class="fa fa-plus"></i>
      <%end%>
    </div>
  </div>
<%end%>
<table class="table table-striped" style="margin-top: 10px;">
    <thead>
        <th>Name</th>
        <th></th>
    </thead>
    <tbody>
    <%@project_role.users.each do |user|%>
      <tr>
      <td><%= user.full_name%></td>
      <td>
      <%= form_with(model: @project_role, remote: true) do |form| %>
        <%= form.hidden_field :remove_user, id: "project_role_remove_user", value: user.id %>
        <%= form.button  class: "btn btn-link float-right" do %>
          <i class="fa fa-trash text-danger"></i>
        <%end%>
        <%end%>
      </td>
      </tr>
    <%end%>
    </tbody>
</table>
</div>

<script>
$( document ).ready(function() {
    autocomplete(document.getElementById("project_role_available_users"), JSON.parse($('#project_role_available_users').attr("data-autocomplete-source")), document.getElementById("project_role_add_user"));
});
</script>