<%= form_with(model: notification, remote: true) do |form| %>
  <%= render 'layouts/error_messages', object: form.object %>
  <div class="row">
  <div class="col-sm-12">
    <div class="actions float-right">
      <%= form.submit 'Submit', class: 'btn btn-link btn-sm' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :notification_name %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :notification_description , style: "height: 200px;"%>
    </div>
  </div>
</div>
<% end %>
