<%= form_with(model: @user, remote: true) do |form| %>
  <%= render 'layouts/error_messages', object: form.object %>
  <div class="row">
  <div class="col-sm-12">
  <h5 style="display:inline-block;">Notifications</h5>
    <div class="actions float-right">
      <%= form.submit 'Submit', class: 'btn btn-link btn-sm' %>
    </div>
  </div>
</div>
<%= form.collection_check_boxes(:notification_ids, Notification.all, :id, :name, boolean_style: :inline) do |p| %>
          <div class="row">
          <div class="col-sm-12">
          <%= p.check_box %> <%= p.text.titleize %> 
          </div>
          </div>
        <%end%>
        <%end%>