<%= form_with(model: @ticket_comment, remote: true) do |form| %>
  <%= render 'layouts/error_messages', object: form.object %>
  <div class="row">
  <div class="col-sm-12">
    <div class="actions float-right">
      <%= form.submit 'Submit', class: 'btn btn-link btn-sm' %>
    </div>
  </div>
</div>

  <div class="field">
    <%= form.text_area :comment, id: :ticket_comment_comment, placeholder: ''%>
  </div>

  <div class="field">
    <%= form.hidden_field :created_by, id: :ticket_comment_created_by %>
  </div>

  <div class="field">
    <%= form.hidden_field :ticket_id, id: :ticket_comment_ticket_id %>
  </div>
<% end %>

<% @ticket.comments.order(:created_at).each do |comment|%>
<div class="card" style="margin-top: 10px;">
<div class="card-header">
    <%=comment.creator.full_name%>
    <span style="float: right;">
        <%=comment.created_at%>
    </span>
  </div>
  <div class="card-body">
    <%=comment.comment%>
  </div>
</div>

<%end%>
