<%= form_with(model: ticket, remote: true) do |form| %>
  <%= render 'layouts/error_messages', object: form.object %>
  <div class="row">
  <div class="col-sm-12">
    <div class="actions float-right">
      <%= form.submit 'Submit', class: 'btn btn-link btn-sm' %>
    </div>
  </div>
</div>
    <%= form.hidden_field :workflow_id%>


    <%= form.hidden_field:project_id%>

<div class="row">
  <div class="col-sm-6">
  <div class="field">
    <%= form.label :assigned_to %>
    <%= form.collection_select(:assigned_to, User.all, :id, :full_name, :include_blank => 'None')%>
  </div>

  </div>
  <div class="col-sm-6">
    <div class="field">
    <%= form.label :reported_by %>
    <%= form.collection_select(:reported_by, User.all, :id, :full_name, :include_blank => 'None')%>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
    <div class="field">
    <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :ticket_subject %>
  </div>
  <div class="row">
    <div class="col-sm-12">
    <div class="field">
    <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points, id: :ticket_subject %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :ticket_description, style: "height: 200px;" %>
  </div>
  </div>
  </div>
  </div>
<% end %>
