<div class="row">
  <div class="col-sm-12">

    <h3 style="display:inline-block;">Tickets</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Project</th>
          <th>Assigned to</th>
          <th>Reported by</th>
          <th>Subject</th>
        </tr>
      </thead>

      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= link_to ticket.id, ticket_path(ticket) %></td>
            <td><%= ticket.project.name %></td>
            <td>
            <%if ticket.assignee.nil?%>
              Unassigned
            <%else%>
              <%= ticket.assignee.full_name %>
            <%end%>
            </td>
            <td><%= ticket.reporter.full_name %></td>
            <td><%= ticket.subject %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
