<div class="row">
  <div class="col-sm-12">
  <h3 style="display:inline-block;">Tickets</h3>
    <div class="actions float-right">
    <%= link_to 'Back', project_path(@ticket.project) , class: 'btn btn-link btn-sm' %>
      <%= link_to 'Edit', edit_ticket_path(@ticket), class: 'btn btn-link btn-sm', remote: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    <h2 style="display: inline; margin-right: 10px;"><%= @ticket.subject%></h2>
  </div>
  <div class="col-sm-3">
    <span style="float: right;"> 
    

    <% @ticket.state.transitions.each do |transition|%>
      <%= form_with(model: @ticket, remote: true) do |form| %>
      <%= form.hidden_field :transition_ticket, value: transition.id%>
        <% if current_user.project_roles.joins(:workflow_states).where("workflow_states.id = ?", @ticket.state.id).any?%>
        <%= form.button  class: "btn btn-success" do %>
            <%= transition.name %>
          <%end%>
        <%end%>
      <%end%>
    <%end%>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="field">
      <strong>Assigned To</strong>
      <br/>
      <%if @ticket.assignee.nil?%>
        Unassigned
      <%else%>
        <%= link_to @ticket.assignee.full_name, user_path(@ticket.assignee)%>
      <%end%>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field">
      <strong>Reported By</strong>
      <br/>
      <%= link_to @ticket.reporter.full_name, user_path(@ticket.reporter)%>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field">
      <strong>Status</strong>
      <br/>
      <%= @ticket.state.name%>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field">
      <strong>Created At</strong>
      <br/>
      <%= @ticket.created_at%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <strong>Description</strong>
      <br>
      <%= @ticket.description %>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="true">Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="log-tab" data-toggle="tab" href="#log" role="tab" aria-controls="log" aria-selected="true">Log</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <%= render 'comments'%>
      </div>
      <div class="tab-pane" id="log" role="tabpanel" aria-labelledby="log-tab">
        <%= render 'log'%>
      </div>
    </div>
  </div>
</div>

<!-- 
<p>
  <strong>Assigned to:</strong>
  <%= @ticket.assigned_to %>
</p>

<p>
  <strong>Reported by:</strong>
  <%= @ticket.reported_by %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @ticket.project %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
-->