<div class="row">
  <div class="col-sm-12">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="margin-top:20px;">
    <%= link_to 'New Ticket', new_ticket_path(project: @project.id), class: 'btn btn-success btn-sm ml-auto', remote: true %>
  </nav>

    <table class="table table-striped" style="margin-top:20px;">
      <thead>
        <tr>
          <th>Id</th>
          <th>Project</th>
          <th>Assigned to</th>
          <th>Reported by</th>
          <th>Subject</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= link_to ticket.id, ticket_path(ticket) %></td>
            <td><%= ticket.project.name %></td>
            <td>
            <%if ticket.assignee.nil?%>
              Unassigned
            <%else%>
              <%= ticket.assignee.full_name %>
            <%end%>
            </td>
            <td><%= ticket.reported_by %></td>
            <td><%= ticket.subject %></td>
            <td>
              <%= link_to ticket, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash text-danger float-right"></i>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
