<div class="row">
<div class="col-sm-12">
<%= link_to 'New Project', new_project_path, class: 'btn btn-success btn-sm float-right', remote: true %>
<h3 style="display:inline-block;">Projects</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Workflow</th>
      <th>Users</th>
      <th>Tickets</th>
      <th>Last Ticket</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.workflow.name %></td>
        <td><%= project.users.count %></td>
        <td><%= project.tickets.count %></td>
        <td><%= project.tickets.order(:created_at).last.created_at %></td>
        <td>
        <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash text-danger float-right"></i>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
