<%= form_with(model: workflow_state, remote: true) do |form| %>
  <%= render 'layouts/error_messages', object: form.object %>
  <div class="row">
  <div class="col-sm-12">
    <div class="actions float-right">
      <%= form.submit 'Submit', class: 'btn btn-link btn-sm' %>
    </div>
  </div>
</div>

  <div class="field">
    <%= form.hidden_field :workflow_id, id: :workflow_state_workflow_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :workflow_state_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :workflow_state_description %>
  </div>

<% end %>
