<div class="row">
  <div class="col-sm-12">
  <h3 style="display: inline-block;"><%= @board.name %></h3>
    <div class="actions float-right">
    <%= link_to 'Back', boards_path, class: 'btn btn-link btn-sm' %>
      <%= link_to 'Edit', edit_board_path(@board), class: 'btn btn-link btn-sm', remote: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="field">

    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= @board.description %>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="board-tab" data-toggle="tab" href="#board" role="tab" aria-controls="board" aria-selected="true">Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sprints-tab" data-toggle="tab" href="#sprints" role="tab" aria-controls="sprints" aria-selected="true">Sprints</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="true">Settings</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="board" role="board" aria-labelledby="board-tab">
        <%= render 'board'%>
      </div>
      <div class="tab-pane" id="sprints" role="tabpanel" aria-labelledby="sprints-tab">
        <%= render 'sprints'%>
        
      </div>
      <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <%= render 'settings'%>
        
      </div>
    </div>
  </div>
</div>

