<%= form_with(model: workflow_transition, remote: true) do |form| %>
  <%= render 'layouts/error_messages', object: form.object %>
  <div class="row">
  <div class="col-sm-12">
    <div class="actions float-right">
      <%= form.submit 'Submit', class: 'btn btn-link btn-sm' %>
    </div>
  </div>
</div>

  <div class="field">
    <%= form.hidden_field :workflow_id, id: :workflow_transition_workflow_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :workflow_transition_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :workflow_transition_description %>
  </div>

  <div class="field">
    <%= form.label :start_state %>
    <%= form.collection_select(:start_state, @workflow_states, :id, :name, :include_blank => 'None')%>
  </div>

  <div class="field">
    <%= form.label :end_state %>
    <%= form.collection_select(:end_state, @workflow_states, :id, :name, :include_blank => 'None')%>
  </div>
<% end %>

<script>

   $("select[name='workflow_transition[start_state]']").change(function() {
    
  });

  $("select[name='workflow_transition[end_state]']").change(function() {
    
  });

</script>